#c1{
    width: 50px; 
  
}

#score{
    font-size: 175px;
    text-align: center;
    font-family: 'Rubik Mono One', sans-serif;
}
#timer{
    font-size: 50px;
    text-align: center;
    font-family: 'Rubik Mono One', sans-serif;
}

#tname{
    font-size: 25px;
    text-align: center;
    font-family: 'Rubik Mono One', sans-serif;
}

#title{
    font-family: 'Cinzel', serif;
    text-align: center;
    font-size: 20px;
    
}

#btnWish{
    font-family: 'Cinzel', serif;
    text-align: center;
    border-radius: 40px;
}