<div class="row" id="timer">
  <div class="col-xs-12 col-md-12">
    12:45
  </div>
</div>


<div class="row" id="score">
  <div class="col-xs-6 col-md-6">
    {{scoreDetail?.teams[0].score}}
  </div>
  
  <div class="col-xs-6 col-md-6">
    {{scoreDetail?.teams[1].score}}
  </div>
</div>



<br>
<div class="row" id="title">
  <div class="col-xs-12 col-md-12">
    {{scoreDetail?.title}}
  </div>
</div>

<div class="row" id="btnWish">
  <div class="col-xs-12 col-md-12">
    <button type="button" class="btn btn-success">Wish Our Boys!</button>
  </div>
</div>
<!--   <div class="row">
        <div class="col-xs-6 col-md-6"><img src="{{scoreDetail.teams[0].crest}}"/></div>
        <div class="col-xs-6 col-md-6"><img src="{{scoreDetail.teams[1].crest}}"/></div>
    </div>
-->